<div class="outer_div" *ngIf="Item==7">
    <div class="inner_div text-center form-control p-4">
        <h3><strong>Change your password</strong></h3>
        <form (ngSubmit)="changepassword()" [formGroup]="changepasswordArray">
            <hr>
            <div>
                <label for="oldpassword"><strong>Enter your current password</strong></label>
                <input class="form-control" formControlName="oldpassword" name="Email" type="password">
            </div>
            <div>
                <label for="newpassword"><strong>Enter your new password</strong></label>
                <input class="form-control" formControlName="newpassword" name="Email" type="password">
            </div>
            <div>
                <button type="submit" class="btn btn-outline-success w-25 m-3"><strong>Change Now</strong></button>
                <button class="btn btn-outline-danger w-25 m-3" (click)="cancel()"><strong>Cancel</strong></button>
            </div>
        </form>
    </div>
</div>