<div class="outer_div" *ngIf="Item==1">
    <div class="inner_div text-center form-control p-4">
        <h3><strong>Add an Admin</strong></h3>

        <form (ngSubmit)="addAdmin()" [formGroup]="adminAddArray">
            <hr>
            <div>
                <label for="name"><strong>Enter Name</strong></label>
                <input class="form-control" formControlName="Name" name="Name" type="text">
            </div>
            <div>
                <label for="email"><strong>Enter Email</strong></label>
                <input class="form-control" formControlName="Email" name="Email" type="text">
            </div>
            <div>
                <label for="dob"><strong>Enter Date of Birth</strong></label>
                <input class="form-control" formControlName="DOB" name="DOB" type="date">
            </div>
            <div>
                <label for="password"><strong>Enter the password</strong></label>
                <input class="form-control" formControlName="Password" name="Password" type="password">
            </div>
            <div>
                <button type="submit" class="btn btn-outline-success w-25 m-3"><strong>Add Now</strong></button>
                <button class="btn btn-outline-danger w-25 m-3" (click)="cancel()"><strong>Cancel</strong></button>
            </div>
        </form>
    </div>
</div>

<div class="outer_div" *ngIf="Item==2">
    <div class="inner_div text-center form-control p-4">
        <h3><strong>Delete an Admin</strong></h3>
        <form (ngSubmit)="deleteAdmin()" [formGroup]="deleteadminarray">
            <hr>
            <div>
                <label for="email"><strong>Enter Email of you want delete</strong></label>
                <input class="form-control" formControlName="Email" name="Email" type="text">
            </div>
            <div>
                <button type="submit" class="btn btn-outline-success w-25 m-3"><strong>Delete Now</strong></button>
                <button class="btn btn-outline-danger w-25 m-3" (click)="cancel()"><strong>Cancel</strong></button>
            </div>
        </form>
    </div>
</div>


<div class="outer_div" style="padding: 1vmax 20vmax;" *ngIf="Item==3">
    <div class="inner_div text-center form-control p-4">
        <h3><strong>Add a Faculty</strong></h3>

        <form (ngSubmit)="addFaculty()" [formGroup]="facultyAddArray">
            <hr>
            <div>
                <label for="name"><strong>Enter Name</strong></label>
                <input class="form-control" formControlName="Name" name="Name" type="text">
            </div>
            <div>
                <label for="email"><strong>Enter Email</strong></label>
                <input class="form-control" formControlName="Email" name="Email" type="text">
            </div>
            <label><strong>Select Department</strong></label>
            <div class="form-control mb-2" style="text-align: center;height: 2rem; padding-bottom: 1rem;">
                <a class="adddelete_hover nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                    aria-expanded="false">
                </a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" (click)="departmentCS()">Computer Science</a></li>
                    <li><a class="dropdown-item" (click)="departmentCivil()">Civil Engineering</a></li>
                    <li><a class="dropdown-item" (click)="departmentMech()">Mechanical Engineering</a></li>
                </ul>
            </div>
            <div>
                <div>
                    <label for="subject"><strong>Teaching Subject code In UpperCase</strong></label>
                </div>
                <div class="w-25 subject_div"><input class="form-control" type="text" formControlName="sub1"
                        name="sub1"></div>
                <div class="w-25 subject_div"><input class="form-control" type="text" formControlName="sub2"
                        name="sub2"></div>
                <div class="w-25 subject_div"><input class="form-control" type="text" formControlName="sub3"
                        name="sub3"></div>
                <div class="w-25 subject_div"><input class="form-control" type="text" formControlName="sub4"
                        name="sub4"></div>
            </div>
            <div>
                <label for="password"><strong>Enter the password</strong></label>
                <input class="form-control" formControlName="Password" name="Password" type="password">
            </div>
            <div>
                <button type="submit" class="btn btn-outline-success w-25 m-3"><strong>Add Now</strong></button>
                <button class="btn btn-outline-danger w-25 m-3" (click)="cancel()"><strong>Cancel</strong></button>
            </div>
        </form>
    </div>
</div>

<div class="outer_div" *ngIf="Item==4">
    <div class="inner_div text-center form-control p-4">
        <h3><strong>Delete a Faculty</strong></h3>
        <form (ngSubmit)="deletefaculty()" [formGroup]="deletefacultyarray">
            <hr>
            <div>
                <label for="email"><strong>Enter Email</strong></label>
                <input class="form-control" formControlName="Email" name="Email" type="text">
            </div>
            <label><strong>Select Department</strong></label>
            <div class="form-control mb-2" style="text-align: center;height: 2rem; padding-bottom: 1rem;">
                <a class="adddelete_hover nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                    aria-expanded="false">
                </a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" (click)="departmentCS()">Computer Science</a></li>
                    <li><a class="dropdown-item" (click)="departmentCivil()">Civil Engineering</a></li>
                    <li><a class="dropdown-item" (click)="departmentMech()">Mechanical Engineering</a></li>
                </ul>
            </div>
            <div>
                <button type="submit" class="btn btn-outline-success w-25 m-3"><strong>Delete Now</strong></button>
                <button class="btn btn-outline-danger w-25 m-3" (click)="cancel()"><strong>Cancel</strong></button>
            </div>
        </form>
    </div>
</div>


<div class="outer_div" *ngIf="Item==5">
    <div class="inner_div text-center form-control p-4">
        <h3><strong>Add a student</strong></h3>
        <form (ngSubmit)="addstudent()" [formGroup]="addStudentArray">
            <hr>
            <div>
                <label for="email"><strong>Enter Email</strong></label>
                <input class="form-control" formControlName="Email" name="Email" type="text">
            </div>
            <label><strong>Select Department</strong></label>
            <div class="form-control mb-2" style="text-align: center;height: 2rem; padding-bottom: 1rem;">
                <a class="adddelete_hover nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                    aria-expanded="false">
                </a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" (click)="departmentCS()">Computer Science</a></li>
                    <li><a class="dropdown-item" (click)="departmentCivil()">Civil Engineering</a></li>
                    <li><a class="dropdown-item" (click)="departmentMech()">Mechanical Engineering</a></li>
                </ul>
            </div>
            <label><strong>Select Academic year</strong></label>
            <div class="form-control mb-2" style="text-align: center;height: 2rem; padding-bottom: 1rem;">
                <a class="adddelete_hover nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                    aria-expanded="false">
                </a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" (click)="firstyearselected()">1st year</a></li>
                    <li><a class="dropdown-item" (click)="secondyearselected()">2nd year</a></li>
                    <li><a class="dropdown-item" (click)="thirdyearselected()">3rd year</a></li>
                    <li><a class="dropdown-item" (click)="fourthyearselected()">4th year</a></li>
                </ul>
            </div>
            <div>
                <label for="email"><strong>Default Password</strong></label>
                <input class="form-control text-center" type="text" placeholder="{{defaultpassword}}" disabled>
            </div>
            <div>
                <button type="submit" class="btn btn-outline-success w-25 m-3"><strong>Register Now</strong></button>
                <button class="btn btn-outline-danger w-25 m-3" (click)="cancel()"><strong>Cancel</strong></button>
            </div>
        </form>
    </div>
</div>

<div class="outer_div" *ngIf="Item==6">
    <div class="inner_div text-center form-control p-4">
        <h3><strong>Add a student</strong></h3>
        <form (ngSubmit)="studentDelete()" [formGroup]="studentdeleteArray">
            <hr>
            <div>
                <label for="email"><strong>Enter Email</strong></label>
                <input class="form-control" formControlName="Email" name="Email" type="text">
            </div>
            <label><strong>Select Department</strong></label>
            <div class="form-control mb-2" style="text-align: center;height: 2rem; padding-bottom: 1rem;">
                <a class="adddelete_hover nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                    aria-expanded="false">
                </a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" (click)="departmentCS()">Computer Science</a></li>
                    <li><a class="dropdown-item" (click)="departmentCivil()">Civil Engineering</a></li>
                    <li><a class="dropdown-item" (click)="departmentMech()">Mechanical Engineering</a></li>
                </ul>
            </div>
            <label><strong>Select Academic year</strong></label>
            <div class="form-control mb-2" style="text-align: center;height: 2rem; padding-bottom: 1rem;">
                <a class="adddelete_hover nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                    aria-expanded="false">
                </a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" (click)="firstyearselected()">1st year</a></li>
                    <li><a class="dropdown-item" (click)="secondyearselected()">2nd year</a></li>
                    <li><a class="dropdown-item" (click)="thirdyearselected()">3rd year</a></li>
                    <li><a class="dropdown-item" (click)="fourthyearselected()">4th year</a></li>
                </ul>
            </div>
            <div>
                <button type="submit" class="btn btn-outline-success w-25 m-3"><strong>Delete Now</strong></button>
                <button class="btn btn-outline-danger w-25 m-3" (click)="cancel()"><strong>Cancel</strong></button>
            </div>
        </form>
    </div>
</div>