<div class="main_body">
    <div class="row" style="--bs-gutter-x: 0rem;">
        <div class="col-1"></div>
        <div class="col-10">
            <div class="login_body">

                <div class="student_div">
                    <div class="w-100 text-center mt-5">
                        <img class="img_border w-25" src="../../../assets/student_icon.jpg" alt="student_icon">
                        <h3 class="mt-2"><strong>Student</strong></h3>
                    </div>
                    <hr>
                    <div class="p-3 text-center">
                        <form>
                            <div class="mb-2">
                                <input class="form-control" type="text" placeholder="Enter your Email">
                            </div>
                            <div>
                                <div class="w-50 mb-2 dropdown_paddingright" style="float:left;">
                                    <div class="w-100 mb-2 dropdown_paddingright">
                                        <div class="form-control mb-2" style="text-align: center;height: 2rem; padding-bottom: 1rem;">
                                            <a class="adddelete_hover nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                                aria-expanded="false"><span>Department</span>
                                            </a>
                                            <ul class="dropdown-menu">
                                                <li><a class="dropdown-item" (click)="departmentCS()">Computer Science</a></li>
                                                <li><a class="dropdown-item" (click)="departmentCivil()">Civil Engineering</a></li>
                                                <li><a class="dropdown-item" (click)="departmentMech()">Mechanical Engineering</a></li>
                                            </ul>
                                        </div>
                                    </div>
        
                                </div>
                                <div class="w-50 mb-2 dropdown_paddingleft" style="float: left;">
                                    <div class="form-control mb-2" style="text-align: center;height: 2rem; padding-bottom: 1rem;">
                                        <a class="adddelete_hover nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                            aria-expanded="false">
                                            Academic year
                                        </a>
                                        <ul class="dropdown-menu">
                                            <li><a class="dropdown-item" (click)="firstyearselected()">1st year</a></li>
                                            <li><a class="dropdown-item" (click)="secondyearselected()">2nd year</a></li>
                                            <li><a class="dropdown-item" (click)="thirdyearselected()">3rd year</a></li>
                                            <li><a class="dropdown-item" (click)="fourthyearselected()">4th year</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <input class="form-control" type="password" placeholder="Enter your Password">
                            </div>
                            <div class="mt-5">
                                <button class="btn btn-outline-secondary w-50"
                                    type="submit"><strong>Login</strong></button>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="college_div">
                    <div class="admin_button">
                        <button class="btn btn-outline-dark w-100" (click)="adminloginpage()" >Admin</button>
                    </div>
                    <div class="center">
                        <div class="college_name form-control p-2">
                            <h2 style="font-size: 1.5rem;">Muslim Association College of Engineering</h2>
                        </div>
                    </div>
                </div>

                <div class="faculty_div">
                    <div class="text-center mt-5">
                        <img class="img_border w-25" src="../../../assets/faculty_icon.jpg" alt="faculty_icon">
                        <h3 class="mt-2"><strong>Faculty</strong></h3>
                    </div>
                    <hr>
                    <div class="p-3 text-center">
                        <form (ngSubmit)="facultylogin()" [formGroup]="facultyloginarray">
                            <div class="mb-2">
                                <input class="form-control" type="text" placeholder="Enter your Email" formControlName="Email" name="Email" >
                            </div>

                            <div class="w-100 mb-2 dropdown_paddingright">
                                <div class="form-control mb-2" style="text-align: center;height: 2rem; padding-bottom: 1rem;">
                                    <a class="adddelete_hover nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                        aria-expanded="false"><span>Department</span>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" (click)="departmentfacultyCS()">Computer Science</a></li>
                                        <li><a class="dropdown-item" (click)="departmentfacultyCivil()">Civil Engineering</a></li>
                                        <li><a class="dropdown-item" (click)="departmentfacultyMech()">Mechanical Engineering</a></li>
                                    </ul>
                                </div>
                            </div>

                            <div>
                                <input class="form-control" type="password" placeholder="Enter your Password" formControlName="Password" name="Password" >
                            </div>
                            <div class="mt-5">
                                <button class="btn btn-outline-secondary w-50"
                                    type="submit"><strong>Login</strong></button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-1"></div>
    </div>

</div>
