<div class="main_div">
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6">
            <div class="inner_div">
                <div class="adminlogin_img p-5">
                    <div class="text-center" style="background-color: white; border-radius: 20px;">
                        <span><strong>Welcome Admin</strong></span>
                    </div>
                </div>
                <div>
                    <div class="admin_labeldiv">
                        <div>
                            <label class="mt-2" for="email">Email Id</label>
                        </div>
                        <div>
                            <label class="mt-5" for="password">Password</label>
                        </div>
                    </div>
                    <div class="admin_inputdiv">
                        <form (ngSubmit)="adminLogin()" [formGroup]="adminArray">
                        <div>
                            <input class="input_box" type="text" placeholder="Enter your Email" formControlName="email" name="email">
                        </div>
                        <div>
                            <input class="input_box" type="password" placeholder="Enter your Password" formControlName="password" name="password">
                        </div>
                        <div class="">
                            <p style="margin-left: 1vmax;">If you are not an administrator. <a style="text-decoration: none;" href="">click here</a></p>
                        </div>
                        <div> 
                            <button type="submit" style="margin-left: 1vmax;" class="btn btn-outline-secondary mt-2 w-75"><strong>Login</strong></button>
                        </div>
                    </form>
                    </div>
                    
                </div>
            </div>
        </div>
        <div class="col-3"></div>
    </div>
</div>
