<div id="main-body">
    <div class="left_nav">
        <div class="profile_div pt-5">
            <img class="w-50" src="../../../../../assets/user.png" alt="Profile_pic">
        </div>
        <div class="profile_div">
            <h2 class="Name_heading"><Strong>{{Name|uppercase}}</Strong></h2>
        </div>
        <hr>
        <div class="button_div">

            <div style="background-color: white; text-align: center;height: 2rem;" class="pt-1">
                <a class="adddelete_hover nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    Student
                </a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" (click)="studentadd()">Add Student</a></li>
                    <li><a class="dropdown-item" (click)="studentdelete()">Delete Student</a></li>
                </ul>
            </div>
            <hr>
        </div>

        <div style="background-color: white;">
            <button class="btn btn-light form-control" (click)="ChangePassword()">Change your password</button>
        </div>
        <div class="log_out" style="background-color: white;">
            <button class="btn btn-outline-danger form-control" style="border: none;" (click)="logout()">Log
                Out</button>
        </div>
    </div>

    <div class="right_div">

        <div class="navbar_div">
            <nav class="navbar navbar-expand-lg bg-light">
                <div class="container-fluid p-4">
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <button class="btn btn-outline-dark nav_button mx-4" (click)="home()">Home</button>
                            </li>
                            <li class="nav-item">
                                <button class="btn btn-outline-dark nav_button mx-4" (click)="firstyear()">Ist
                                    year</button>
                            </li>
                            <li class="nav-item">
                                <button class="btn btn-outline-dark nav_button mx-4" (click)="secondyear()">IInd
                                    year</button>
                            </li>
                            <li class="nav-item">
                                <button class="btn btn-outline-dark nav_button mx-4" (click)="thirdyear()">IIIrd
                                    year</button>
                            </li>
                            <li class="nav-item">
                                <button class="btn btn-outline-dark nav_button" (click)="fourthyear()">IVth
                                    year</button>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>

        <div>
            <app-changepassword-faculty [Item]="selectedpage" (onCancel)="pagecancel()"></app-changepassword-faculty>
        </div>
        <div>
            <app-adminadd-delete [Item]="selectedpage" (onCancel)="pagecancel()"></app-adminadd-delete>
        </div>
        <div>
            <app-cs-firstyear [Item]="selectedpage"></app-cs-firstyear>
        </div>
        <div>
            <app-cs-secondyear [Item]="selectedpage"></app-cs-secondyear>
        </div>
        <div>
            <app-cs-thirdyear [Item]="selectedpage"></app-cs-thirdyear>
        </div>
        <div>
            <app-cs-fourthyear [Item]="selectedpage"></app-cs-fourthyear>
        </div>

        <div class="right_main p-3" *ngIf="selectedpage==('')">
            <div class="fac_discription">
                <div class="form-control p-5 text-center">
                    <h3><strong>Our Mission</strong></h3>
                    <hr>
                    <div>
                        <p>To create an educational experience for students focused on deep disciplinary knowledge,
                            problem solving, leadership, communication and interpersonal skills. To cultivate a
                            transformative college community committed to a free exchange of ideas and a collaborative
                            environment where critical and creative innovation and entrepreneurship can flourish in
                            which students can achieve their full potential. To impart an education that triggers the
                            holistic development of the student and makes him a responsible citizen.</p>
                    </div>
                </div>
            </div>
            <div class="college_icon">
                <img class="w-100" src="../../../../../assets/macelogo.jpeg" alt="mace logo">
            </div>
            <div class="notification_div">
                <div class="form-control p-5 text-center">
                    <h3><strong>Notifications</strong></h3>
                    <hr>
                    <div>
                        <marquee class="mt-5 form-control"  style="border:BLACK 2px SOLID">* {{this.Notification1}} * {{this.Notification2}} * {{this.Notification3}}</marquee>
                    </div>
                    <h3 class="mt-5"><strong>Social Media Platforms</strong></h3>
                    <hr>
                    <div>
                        <a href="https://www.instagram.com/maceofficial2020/"><img class="p-2" src="../../../../../assets/icons8-instagram-48.png" alt="insta-icon"></a>
                        <a href="https://www.facebook.com/macevenjmd/"><img class="p-2" src="../../../../../assets/icons8-facebook-48.png" alt="facebook_icon"></a>
                        <a href="https://www.youtube.com/@muslimassociationcollegeof121/streams"><img class="p-2" src="../../../../../assets/icons8-youtube-48.png" alt="youTube-icon"></a>
                    </div>
                </div>
            </div>


            <div class="welcome_quotes">
                <h1><strong>"Welcome to Computer Science Faculty panel"</strong></h1>
            </div>

        </div>
    </div>
</div>